body footer {
	background-color: #FFFFFF;
	height: 60px;
	width: 100%;
	bottom: 0;
	display: flex;
	position: fixed;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: fixed;
	border-top: solid 1px #CCCCCC;
}
