body header {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border-bottom: solid 1px #CCCCCC;
	display: flex;
}
div.logo {
	width: 142px;
	height: 60px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	align-self: center;
	margin-left: 20px;

}
