<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<title>AirBnB clone</title>
		<link rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
		<link rel="icon" type="image/png" href="../static/images/icon.png">
	</head>
	<body>
		<header><div class="logo"></div></header>
		<div class="container">
			<section class="filters">
				<div class="locations">
					<h3>States</h3>
					<h4>Fake content</h4>
					<ul class="popover">
						{% for state in state_list %}
						<li>
							<h2>{{ state.name }}</h2>
							<ul>
								{% for city in state.cities %}
								<li>{{ city.name }}</li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="amenities">
					<h3>Amenities</h3>
					<h4>Fake content</h4>
					<ul class="popover">
						{% for amenity in amenity_list | sort(attribute="name") %}
						<li>{{ amenity.name }}</li>
						{% endfor %}
					</ul>
				</div>
				<button>Search</button>
			</section>
		</div>
		<footer>Holberton School</footer>
	</body>
</html>
